<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- Salida estándar (consola) [INFO, DEBUG, etc.]-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!-- Salida [System.out.println] -->
    <appender name="PRINTLN" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!-- Logger (PRINTLN en consola) -->
    <logger name="PromptLogger" level="INFO" additivity="false">
        <appender-ref ref="PRINTLN"/>
    </logger>

    <!-- Logger raíz (STDOUT en consola)-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
